@font-face {
  font-family: "Metropolis";
  src: url("/fonts/Metropolis-Regular.otf") format("opentype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("/fonts/Metropolis-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

body {
  font-family: "Metropolis", sans-serif;
}
